body {
    font-family: system-ui, serif;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    /* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
    If we DO want the items to stretch: */
    flex: 1 1 300px;
    /* If you DON'T want the items to stretch
    * flex: 0 1 300px;
    */
    border: 1px solid red;
    background: lightpink;
    font-size: 2rem;
    text-align: center;
}