body {
    font-family: system-ui, serif;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.visual {
    height: 100px;
    width: 100%;
    background: wheat;
    margin: 0.5rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: lightpink;
    padding: 1rem;
}

h1 {
    font-size: 1.5rem;
}
