body {
    font-family: system-ui, serif;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    background: lightpink;
    padding: 2rem;
}

main {
    background: coral;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
}